@import url("https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap");

:root {
  --primary-color: #181b3a;
  --secondary-color: #01d293;
  --body-bg: #0b0c28;
  --card-01-bg: linear-gradient(#ef621c, #e1424e);
  --card-02-bg: linear-gradient(#01d293, #56c57a);
  --card-03-bg: #725cff;
  --card-04-bg: #2884ff;
  --heading-color: #fff;
  --small-text-color: #808191;
  --recommend-car01-bg: #e1dfa4;
  --recommend-car02-bg: #e3ecf1;
  --recommend-car03-bg: #f4e3e5;
}

body {
  font-family: "DM Sans", sans-serif;
  background-color: var(--body-bg);
}

* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}
ul {
  list-style: none;
}
a {
  text-emphasis: none;
  color: unset;
}

.main__layout {
  margin-left: 270px;
}
img {
  width: 100%;
}

.error {
  color: rgb(238, 41, 41);
  font-size: 1.2rem;
  margin-top: 0;
  font-weight: 500;
  text-transform: capitalize;
}
option {
  background-color: #0b0c28;
  color: whitesmoke;
  margin: 0.2rem 0;
  padding: 0.5rem;
  font-size: 1.5rem;
}
select {
  background-color: #181b3a;
}
.lab {
  font-size: 1.5rem;
  color: whitesmoke;
}
.per {
  display: flex;
  align-items: center;
}
.form-check-input {
  width: 10rem;
  background-color: white;
}
.role-name {
  text-transform: capitalize;
}

.role {
  margin-top: 0.3rem;
  color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
  outline: none;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto Mono", monospace;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

.nav__item {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.page-link {
  color: white;
}
.filter-label {
  margin-top: 2rem;
  border: #01d293 1px solid;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 0.2rem;
}
.car-img {
  filter: contrast(150%);
}
.carlist {
  width: 100%;
  background-color: var(--primary-color);
  height: auto;
  padding: 2rem 0;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.carlist-title {
  color: whitesmoke;
  font-weight: 900;
  margin: 2rem 0;
}

.react-bootstrap-table-pagination {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.carlist{
  overflow-x:scroll;
}